.companyItem {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width: 55%;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  border: 1px solid #486969;
  background: rgb(149, 218, 218);
  border-radius: 4px;
  min-height: 450px;

  .element {
    list-style-type: none;
    align-self: center;
    justify-self: start;
    color: black;
    text-decoration: none;
    padding-bottom: 15px;

    .item {
      padding: 15px;
    }

    strong {
      font-size: 23px;
    }

  }

  .element:first-child {
    align-self: center;
    justify-self: center;

    .imageCompanyItem {
      max-width: 450px;
    }
  }
}