.input-fields {
  margin: 0.1rem 0;
}

.custom-select-field {
  margin-left: 0.5rem;
  padding: 0.2rem;
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
  border-radius: 4px;
  width: 100%;
}

.title-change-field {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
  color: white;
}
