.card-container {
  display: flex;
  flex-direction: row;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1.3rem;
  cursor: pointer;
  transform: translateZ(0);
  transition: transform 0.25s easy-out;
  align-items: center;
  margin-bottom: 0.5rem;

  &:hover {
    transform: scale(1.01);
  }
}


.card-logo img {
  width: 10rem;
  margin-right: 1.3em;
}

.card-information {
  text-align: left;
}

.card-name {
  font-weight: 600;
  font-size: 1.1em;
}
